.b{
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}
.buy-now-button{
    margin-left: 103%;
    margin-top: -21%;
}
.orange-bg{
    background-color: rgb(252, 231, 237);
    border-radius: 15px;
    margin-top: 10%;
    margin-bottom: 9%;
    margin-left: 20%;
    margin-right: 20%;
}
.card{
    transition: 1s;
}
.card:hover{
 transform: scale(1.1);
}